@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Tajawal', sans-serif;
}
#upHead{
    background-color: #262626;
    list-style: none;
    height: 35px;
}
.upHW{
    color: #F2F2F2;
    text-decoration: none;
    margin: 5px 15px;
    font: bolder;
}
.upHW:hover{
    color: #A6A6A6;
}
#Sbar{
    margin-top: 5px;
    margin-left: 20%;
    border-width: 0px, 300px, 0px, 0px;
    text-align: left;
}
#Sbtn{
    width: 30px;
    height: 13px;
    margin-left: -40px;
    border: solid 1px #0D0D0D;
    background-color: #262626;
}
#login, #contact, #about{
    float: right;
}